<!DOCTYPE html>
<html lang = "en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js">\x3C/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<style>
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
form{
    display:inline-block;
    padding: 30px;
}
body{
   background-image: url('bp-03.jpg');
   background-repeat: no-repeat;
   background: auto;
    background-size: 1950px 1500px;
}
select{
	width: 200px;
}
input
{
	width: 80px;
}

</style>
<body>
	


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="bold">Ohlone Newark Library</h2>
        <form>
          <select name = "dropdown-menu">
            <option value = "day">Select the day</option>
            <option value = "Monday">Monday</option>
            <option value = "Tuesday">Tuesday</option>
            <option value = "Wednesday">Wednesday</option>
            <option value = "Thursday">Thursday</option>
         </select>
     </form>
              <form>
          <select name = "dropdown-menu scrollable-menu">
            <option value = "time">Select starting time</option>
            <option value = "9">9:00 A.M.</option>
            <option value = "10">10:00 A.M.</option>
            <option value = "11">11:00 A.M.</option>
            <option value = "12">12:00 A.M.</option>
            <option value = "1">1:00 P.M.</option>
            <option value = "2">2:00 P.M.</option>
            <option value = "3">3:00 P.M.</option>
            <option value = "4">4:00 P.M.</option>
            <option value = "5">5:00 P.M.</option>
            <option value = "6">6:00 P.M.</option>
            <option value = "7">7:00 P.M.</option>
            <option value = "8">8:00 P.M.</option>
         </select>
      </form>
      <form>
         <select name = "dropdown-menu scrollable-menu">
            <option value = "time-end">Select the ending time</option>
            <option value = "9">9:00 A.M.</option>
            <option value = "10">10:00 A.M.</option>
            <option value = "11">11:00 A.M.</option>
            <option value = "12">12:00 A.M.</option>
            <option value = "1">1:00 P.M.</option>
            <option value = "2">2:00 P.M.</option>
            <option value = "3">3:00 P.M.</option>
            <option value = "4">4:00 P.M.</option>
            <option value = "5">5:00 P.M.</option>
            <option value = "6">6:00 P.M.</option>
            <option value = "7">7:00 P.M.</option>
            <option value = "8">8:00 P.M.</option>
         </select>
      </form>
    <form>
    	  <input type="submit" value="Submit">
    </form>
    </div>
</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
